src/main/mule/api-empresa-s-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="api-empresa-s-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-empresa-s-api-config" api="api-empresa-s-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Empresas-DB_Database-Config" doc:name="Database Config" doc:id="b654520e-fe2d-44f1-8388-6e35c4df9193" >
		<db:my-sql-connection host="orangedoor-mysql-pfm-server.mysql.database.azure.com" port="3306" user="orange" password="Orange@2024" database="dbEmpresaBRC" />
	</db:config>
	<flow name="api-empresa-s-api-main">
        <http:listener config-ref="api-empresa-s-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-empresa-s-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-empresa-s-api-console">
        <http:listener config-ref="api-empresa-s-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-empresa-s-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\empresas\clientes\(id):application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\empresas\fornecedores\(id):application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\empresas\produtos\(id):application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\empresas\clientes\(id):api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\empresas\fornecedores\(id):api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\empresas\produtos\(id):api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\empresas\clientes:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  clientes: [
    {
      id: 1,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }, 
    {
      id: 2,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\empresas:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  fornecedores: [
    {
      id: 1,
      razaoSocial: "John Doe LTDA",
      cnpj: "21.958.154/0001-78",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataInclusao: "2020-11-30",
      email: "john.doe@orangedoor.com.br",
      site: "johndueltda@johndue.com.br"
    }, 
    {
      id: 2,
      razaoSocial: "John Doe LTDA",
      cnpj: "21.958.154/0001-78",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataInclusao: "2020-11-30",
      email: "john.doe@orangedoor.com.br",
      site: "johndueltd@johndue.com.br"
    }
  ],
  clientes: [
    {
      id: 1,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }, 
    {
      id: 2,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }
  ],
  produtos: [
    {
      id: 1,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }, 
    {
      id: 2,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\empresas\fornecedores:api-empresa-s-api-config">
		<logger level="INFO" doc:name="Logger de inicio" doc:id="85a79e3b-8d3c-48ae-bf51-dfac77b8318a" message="Inicio do fluxo empresas\fornecedores" />
		<db:select doc:name="Select" doc:id="9d510784-61cd-4926-b353-c86e5ce4b173" config-ref="Empresas-DB_Database-Config">
			<db:sql ><![CDATA[SELECT * FROM tbFornecedores;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5d02b6e4-3d71-412e-bed8-9a3eb3f1d7bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	fornecedores: payload map ( payload01 , indexOfPayload01 ) -> {
		site: payload01.siteFornecedor default "",
		endereco: payload01.enderecoFornecedor default "",
		dataInclusao: payload01.dtInclusao as String default "",
		id: payload01.idFornecedor,
		cnpj: payload01.cnpjFornecedor default "",
		razaoSocial: payload01.razaoSocial default "",
		email: payload01.emailFornecedor default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger de fim" doc:id="4c549e1b-7899-4d2c-aa3f-c3da228953fc" message="Fim do fluxo empresas\fornecedores!!!" />
    </flow>
    <flow name="get:\empresas\produtos:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  produtos: [
    {
      id: 1,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }, 
    {
      id: 2,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\empresas\fornecedores\(id):api-empresa-s-api-config">
		<logger level="INFO" doc:name="Logger de inicio" doc:id="48830151-db27-466e-8120-edbd13485c74" message="Inicio do fluxo empresas\fornecedores" />
		<set-variable value="#[attributes.uriParams.id]" doc:name="ID" doc:id="fe870bf0-7c61-4edb-85ba-9fc6f2cb3b25" variableName="id"/>
		<db:select doc:name="Select" doc:id="7b43d8c7-3545-4dd4-b000-ed56f8082289" config-ref="Empresas-DB_Database-Config">
			<db:sql ><![CDATA[SELECT * FROM tbFornecedores WHERE idFornecedor = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c1206fc0-dd75-4176-9736-8a39ff8a75ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	site: payload[-1].siteFornecedor default "",
	endereco: payload[-1].enderecoFornecedor default "",
	dataInclusao: payload[-1].dtInclusao as String default "",
	id: payload[-1].idFornecedor,
	cnpj: payload[-1].cnpjFornecedor default "",
	razaoSocial: payload[-1].razaoSocial default "",
	email: payload[-1].emailFornecedor default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger de fim" doc:id="faa9fdfa-d613-41e5-9e51-183428daa479" message="Fim do fluxo empresas\fornecedores!!!" />
    </flow>
    <flow name="get:\empresas\produtos\(id):api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  descricao: "Parafuso XPTO",
  codigoBarra: "1236912391948123712388999",
  valor: 1.99,
  unidade: "UN",
  idFornecedor: 123
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\empresas\clientes\(id):api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  nome: "John Doe",
  cpf: "351.457.152-32",
  endereco: "Av. Paulista, 3542, São Paulo - SP",
  dataNascimento: "1989-12-19",
  email: "john.doe@orangedoor.com.br"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\empresas\clientes:application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\empresas\fornecedores:application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\empresas\produtos:application\json:api-empresa-s-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
